/* Parent / main body */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: whitesmoke;
  text-align: center;
}

/* Template for page paragraphs */
.pageText {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 32px;
  font-size: 20px;
  margin-left: 182px;
  margin-right: 182px;
  background: rgb(228, 227, 227);
  border-style: solid;
  border-width: 4px;
  border-color: #333;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 1px rgb(76, 206, 91);
}

/* Hover effect for paragraphs */
.pageText:hover {
  box-shadow: 2px 2px 5px 1px blue;
}

/* Template for page headings */
.pageHeading {
  font-family: Freestyle Script, Arial, Helvetica, sans-serif;
  margin-left: 182px;
  margin-right: 182px;
  text-align: center;
  font-size: 45px;
  color: #333;
  text-shadow: 3px 2px rgb(76, 206, 91);
}

/* Page header / logo */
table.logo
{
  background-color: whitesmoke;
  max-width:100%;
  height:auto;
  border: 0px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  justify-content: space-around;
  margin-left: 182px;
  margin-right: 182px;
  padding: 0;
  display: flex;
  border-style: solid;
  border-width: 0px;
  border-radius: 25px;
}

/* Navbar icons */
.navbar .icon {
  display: none;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-style: solid;
  border-width: 0px;
  border-radius: 25px;
}

/* Background color for navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(76, 206, 91);
}

/* Container settings */
* {
  box-sizing: border-box;
}

/* Home page image */
.homepagenz {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* Home page image heading */
.newzealandHeading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

/* Home page image container */
.container {
  position: relative;
  max-width:100%; 
  height:auto;
  margin-left: 182px;
  margin-right: 182px;
}

/* Home page container image */
.container img {vertical-align: middle; object-fit: fill;}

/* Home page container content */
.container .content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  max-width: 100%;
  max-height: 100%;
}

/* Home page slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  width: 75%;
  height: 75%;
  max-width:75%; height:75%;
}
  
/* Home page hide the slideshow images by default */
.mySlides {
    display: none;
}
  
/* Home page next & previous slideshow buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
  
/* Home page position the slideshow "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Home page position the slideshow "previous button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
  
/* Home page slideshow on hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
  
/* Home page slideshow caption text */
.text {
  color: white;
  background: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 40px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
  
/* Home page slideshow number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background: #333;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
  
/* Home page slideshow the dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Home page slideshow dot hover effect */
.active, .dot:hover {
  background-color: #717171;
}
  
/* Home page slideshow fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Home page slideshow fade effect */
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Home page slideshow fade effect */
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} 
 
/* Footer */
footer 
{
  background: #333;color:white; font-family: Arial, Helvetica, sans-serif;
  margin-right: 182px;
  margin-left: 182px;
  line-height: 50px;
  text-align: center;
  border-style: solid;
  border-width: 0px;
  border-radius: 25px;
}

/* Places to go image gallery */
div.gallery {
  border: 2px solid black;
  margin-left: 182px;
  margin-right: 182px;
  background: rgb(228, 227, 227);
  box-shadow: 2px 2px 5px 1px #333;
}

/* Places to go image gallery hover effect */
div.gallery:hover {
  border: 2px solid rgb(76, 206, 91);
}

/* Places to go image gallery images */
div.gallery img {
  width: 100%;
  height: auto;
}

/* Places to go image gallery descriptions */
div.desc {
  padding: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* Places to go image gallery responsive effect */
.responsive {
  padding: 50px;
  float: left;
  width: 75%;
  margin-left: 182px;
  margin-right: 182px;
}

/* Places to go image gallery responsive effect */
@media only screen and (max-width: 700px) {
  .responsive {
      width: 49.99999%;
  }
}

/* Places to go image gallery responsive effect */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Photo Gallery container row */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 10px;
  margin-left: 182px;
  margin-right: 182px;
}

/* Photo Gallery create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 10px;
}

/* Photo Gallery container images*/
.column img {
  margin-top: 8px;
  vertical-align: middle;
  box-shadow: 2px 2px 5px 1px #333;
}

/* Photo Gallery shake effect on images */
.row img:hover {
  animation: shake 0.8s;
  animation-iteration-count: infinite;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(76, 206, 91);
}

/* Photo Gallery shake effect on images */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Photo Gallery overlay text */
.pictureFrame {
  position: relative;
}

/* Photo Gallery overlay text */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* Photo Gallery overlay text */
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 15px;
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Photo Gallery overlay text */
.pictureFrame:hover .overlay {
  opacity: 1;
}

/* Photo Gallery responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Photo Gallery responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/* Video gallery you tube container */
div.youtubeGallery {
  margin: 20px;
  border: 2px solid #333;
  display: inline-block;
  box-shadow: 2px 2px 5px 1px #333;
}

/* Video gallery you tube container hover effect */
div.youtubeGallery:hover {
  border: 2px solid rgb(76, 206, 91);
}

/* Video gallery you tube container description */
div.youtubeDesc {
  padding: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: black;
  background: #f1f1f1;
}

/* Travelling abroad banner */ 
.banner {
  margin-left: 182px;
  margin-right: 182px;
  text-align: center;
  display: inline-block;
  vertical-align: center;
  max-width: 100%;
  max-height: 100%;
}
 
/* Travelling abroad text container */ 
.abroadContainer {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin-left: 182px;
  margin-right: 182px;
  box-shadow: 2px 2px 5px 1px #333;
  border: 2px solid #333;
}

/* Travelling abroad text container hover */ 
.abroadContainer:hover {
  border: 2px solid rgb(76, 206, 91);
}

/* Travelling abroad image container */ 
.outerAbroadContainer {
  margin-left: 182px;
  margin-right: 182px;
  text-align: center;
}

/* Travelling abroad image container images */ 
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* Travelling abroad image container description */ 
.overlayTwo {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* Travelling abroad image container description hover */ 
.abroadContainer:hover .overlayTwo {
  opacity: 1;
}

/* References container */
.referencesContainer {
  background-image: url("Images/references/nz.png");
  background-attachment: fixed;
  background-color: whitesmoke;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px 800px;
  margin-left: 182px;
  margin-right: 182px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 25px;
}

/* References container hover effect */
.referencesContainerInner:hover{
  border: 4px solid blue;
}

/* References inner container */
.referencesContainerInner {
  border-style: solid;
  border-width: 4px;
  border-radius: 25px;
  margin-left: 182px;
  margin-right: 182px;
}